<%= form_with(model: material_quantidade, local: true, url: registrar_material_quantidade_path) do |form| %>
  <% if material_quantidade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(material_quantidade.errors.count, "error") %> prohibited this material_quantidade from being saved:</h2>

      <ul>
      <% material_quantidade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :material_id %>
    <%= form.select :material_id, Material.all.collect {|m| [m.nome, m.id]}, prompt: 'Selecione um material' %>
  </div>

  <div class="field">
    <p class="quantidade-label"><%= @labels[:quantidade] %></p>
    <%= form.number_field :quantidade, min: '1' %>
  </div>

  <div class="actions">
    <%= form.submit "Registrar" %>
  </div>
<% end %>
