<p id="notice"><%= notice %></p>

<h1>Material Quantidades</h1>

<table>
  <thead>
    <tr>
      <th>Material</th>
      <th>Quantidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @material_quantidades.each do |material_quantidade| %>
      <tr>
        <td><%= material_quantidade.material %></td>
        <td><%= material_quantidade.quantidade %></td>
        <td><%= link_to 'Show', material_quantidade %></td>
        <td><%= link_to 'Edit', edit_material_quantidade_path(material_quantidade) %></td>
        <td><%= link_to 'Destroy', material_quantidade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Material Quantidade', new_material_quantidade_path %>
