<div>
    <h1>Bem vindo ao almoxarifado Almox</h1>
    <p><%= link_to "Materiais", materiais_path%></p>
    <% if @existe_material %>
        <p><%= link_to "Consultar quantidades de Materiais", material_quantidades_path%></p>
        <p><%= link_to "Registrar entrada de Materiais", new_material_quantidade_path(:entrada)%></p>
        <p><%= link_to_if MaterialQuantidade.pode_retirar, "Registrar retirada de Materiais", new_material_quantidade_path(:retirada)%>
        - A retirada sรณ pode ser realizada entre 9h e 18h de segunda a sexta.</p>
        <p><%= link_to "Consultar Log", registros_path%></p>
    <% end %>
    <div class="sair">
        <p><%=current_usuario%> - <%= link_to('Sair', destroy_usuario_session_path, method: :delete) %></p>
    </div>
</div>

